.languageSwitcher {
    gap: clamp(12px, 3vw, 32px);
    display: flex;
    align-items: center;

    p {
        font-size: 18px;
        cursor: pointer;
        color: #262E34;
    }
}


.languageSwitcher p:hover {
    color: #F8F5EC;
}


.languageSwitcher p.active {
    background-image: url('../../../assets/img/shape/languageShape.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #F8F5EC;
}