<div class="menu minWidth1440px flex flexSpaceBetween">
    <div class="developerInfo flexCenter cursorPointer margin0 flexColumn">
        <img src="../assets/img/logoMenu.png" alt="logo">
        <p class="AntaRegular400 margin0 colorF8F5EC">N.Petruck</p>
        <p class="josefinSansLight300 margin0 color262E34">developer</p>
    </div>

    <div class="navigationLinks josefinSansMedium500 cursorPointer flexSpaceBetween">
        <a class="color262E34" href="#whyMe">Why me</a>
        <a class="color262E34" href="#skills">Skills</a>
        <a class="color262E34" href="#projects">Projects</a>
        <a class="color262E34" href="#contact">Contact</a>
    </div>

    <div class="languageSwitcher cursorPointer flex flexSpaceBetween">
        <p class="josefinSansRegular400 margin0 color262E34">DE</p>
        <p class="english josefinSansRegular400 flexCenter margin0 color262E34">EN</p>
    </div>
</div>