.menu {
    height: 104px;
    padding: 16px clamp(20px, 5vw, 109px);
    background-color: #89BCD9;
    z-index: 100;
    position: sticky;
    top: 0;
}


.developerInfo {
    img {
        width: clamp(32px, 4vw, 52px);
        height: auto;
        left: clamp(1px, 0.5vw, 3px);
    }

    p {
        font-size: clamp(12px, 1.5vw, 14px);
    }

}


.navigationLinks {
    justify-content: space-around;
    width: clamp(320px, 60vw, 677px);
    gap: clamp(12px, 2vw, 32px);

    a {
        font-size: clamp(16px, 2vw, 26px);
        text-decoration: none;
    }

    a:hover {
        color: #F8F5EC;
    }
}


.navLink.active {
    background-image: url('/assets/img/shape/menuShape.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    inset: 0;
    height: 56.16px;
}


.languageSwitcher {
    gap: clamp(12px, 3vw, 32px);
    display: flex;
    align-items: center;

    p {
        font-size: clamp(14px, 1.5vw, 18px);
        cursor: pointer;
    }

    p:hover {
        color: #F8F5EC;
    }

    .english {
        background-image: url('/assets/img/shape/languageShape.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: clamp(24px, 3vw, 36.8px);
        height: clamp(16px, 2vw, 24px);
    }

    .english:hover {
        background-image: none;
    }

    p:hover+.english,
    .english:hover {
        background-image: none;
    }
}