.menu {
    max-width: 1440px;
    height: 104px;
    top: 746px;
    padding-top: 16px;
    padding-right: 109px;
    padding-bottom: 16px;
    padding-left: 109px;
    gap: 196px;
    background-color: #89BCD9;
    z-index: 100;
    position: relative;
}


.developerInfo {
    width: 58px;
    height: 72px;

    img {
        width: 52px;
        height: 38px;
        left: 3px;
    }

    p {
        font-size: 14px;
    }
}


.navigationLinks {
    width: 677px;
    height: 26px;
    gap: 32px;

    a {
        width: 100px;
        height: 31px;
        gap: 32px;
        font-size: 26px;
        text-decoration: none;
    }

    a:hover {
        color: #F8F5EC;
    }
}


.navLink.active {
    background-image: url('/assets/img/shape/menuShape.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    inset: 0;
    width: 83.8px;
    height: 56.16px;
}



.languageSwitcher {
    width: 92px;
    height: 31px;

    p {
        width: 27px;
        height: 24px;
        top: 6px;
        left: 14px;
        font-size: 18px;
    }

    p:hover {
        color: #F8F5EC;
    }

    .english {
        background-image: url('/assets/img/shape/languageShape.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 36.8px;
        height: 24px;
        top: 3px;
        left: 51px;
    }

    p:hover+.english,
    .english:hover {
        background-image: none;
    }
}