.menu {
    max-width: 1440px;
    height: 104px;
    padding-top: 16px;
    padding-right: 109px;
    padding-bottom: 16px;
    padding-left: 109px;
    background-color: #89BCD9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.developerInfo {
    width: 58px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 52px;
        height: 38px;
        left: 3px;
    }

    p {
        margin: 0;
        font-family: 'Anta';
        font-weight: 400;
        font-style: regular;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0%;
        color: #F8F5EC;
    }

    span {
        font-family: 'Josefin Sans';
        font-weight: 300;
        font-style: light;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0%;
        color: #262E34;
    }
}

.navigationLinks {
    width: 677px;
    height: 26px;
    display: flex;
    gap: 32px;
    justify-content: space-between;

    a {
        width: 100px;
        height: 31px;
        gap: 32px;
        font-family: 'Josefin Sans';
        font-weight: 500;
        font-style: medium;
        font-size: 26px;
        line-height: 120%;
        letter-spacing: 0%;
        color: #262E34;
        text-decoration: none;
    }

    a:hover {
        color: #F8F5EC;
        cursor: pointer;
    }
}

.languageSwitcher {
    width: 92px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p,
    span {
        width: 27px;
        height: 24px;
        top: 6px;
        left: 14px;
        margin: 0;
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-style: regular;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    p:hover,
    span:hover {
        color: #F8F5EC;
        cursor: pointer;
    }

    span:hover {
        background-image: url('/assets/img/shape/languageShape.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 37.2px;
        height: 24.77px;
        top: 3.1px;
        left: 51.55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}