:host {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact {
    position: relative;

    h1 {
        font-size: 54px;
    }
}


.arrowUp {
    width: 38px;
    height: 89px;
    border-radius: 30px;
    border: 1px #89BCD9 solid;
    background-color: transparent;
    right: 0;
    position: absolute;

    img {
        width: 22px;
        height: 50px;
        top: 20px;
        left: 8px;
    }
}


.arrowUp:hover {
    background-color: #394B55;
}


.contactContent {
    gap: 36px;
}


.description {
    width: 429px;
    font-size: 18px;
}


.mailImg,
.phone {
    width: 26.19px;
    height: 30px;
}


.mailSection,
.phoneSection {
    min-width: 445px;
    display: flex;
    align-items: center;
    gap: 30px;

    a {
        text-decoration: none;
    }
}


.mailSection,
.phoneSection,
p:hover {
    color: #89BCD9;
}


.contactField {
    gap: 21px;
}


.formField {
    gap: 21px;
}


.name,
.mail {
    input {
        min-width: 432px;
        height: 60px;
        border-radius: 30px;
        border: 1px #89BCD9 solid;
        background-color: transparent;
        padding-left: 8px;
        color: #F8F5EC;
    }

    input:focus {
        border: 1px #89BCD9 solid;
        background-color: #313F48;
        caret-color: #F8F5EC;
        outline: none;
        border: 1px solid #89BCD9;
        padding-left: 8px;
    }
}


.name {
    p {
        font-size: 14px;
    }
}


.mail {
    p {
        font-size: 14px;
    }
}


.message {
    p {
        font-size: 14px;
    }

    textarea {
        min-width: 892px;
        height: 146.63px;
        border-radius: 30px;
        border: 1px #89BCD9 solid;
        background-color: transparent;
        padding: 16px 8px;
        color: #F8F5EC;
    }

    textarea:focus {
        border: 1px #89BCD9 solid;
        background-color: #313F48;
        caret-color: #F8F5EC;
        outline: none;
        border: 1px solid #89BCD9;
        padding: 16px 8px;
    }
}


.fieldWrapper small {
    color: #FF5A5A;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
}


.policy {
    align-items: center;
}


.send button {
    width: 101px;
    height: 48px;
    border-radius: 30px;
    border: 1px #F8F5EC solid;
    background-color: transparent;
    font-size: 18px;
    position: absolute;
    right: 0;
    color: #F8F5EC;
    cursor: not-allowed;
    transition: all 0.3s ease;
}


.send button.active {
    width: 101px;
    height: 48px;
    border-radius: 30px;
    border: 1px #89BCD9 solid;
    background-color: transparent;
    font-size: 18px;
    position: absolute;
    color: #89BCD9;
    right: 0;
    cursor: pointer;
}


.customCheckbox {
    display: flex;
    align-items: center;
    position: relative;
    gap: 8px;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: relative;
        width: 22px;
        height: 19.1px;
        top: -1.87px;
        left: -2.36px;
        border: 2px solid #89BCD9;
        border-radius: 50% / 40%;
        background-color: transparent;
        transition: 0.3s;
        flex-shrink: 0;
    }

    .checkmark::after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    input:checked~.checkmark {
        background-color: #89BCD9;
        border-color: #89BCD9;
    }

    input:checked~.checkmark::after {
        display: block;
    }
}



// MEDIA QUERIES
@media (max-width: 1225px) {
    .contactContainer {
        width: 1005px;
    }
}


@media (max-width: 1020px) {
    .contactContainer {
        width: 887px;
    }

    .contact {
        width: 100%;
    }

    .name input,
    .mail input {
        min-width: 421px;
    }

    .message textarea {
        min-width: 869px;
    }
}


@media (max-width: 950px) {
    .contactContent {
        gap: 16px;
    }
}


@media (max-width: 910px) {
    .contactContainer {
        width: 773px;
    }

    .contactContent {
        flex-wrap: wrap;
        width: min-content;
    }

    .name input,
    .mail input {
        min-width: 364px;
    }

    .message textarea {
        min-width: 755px;
    }

    .formField {
        flex-direction: column;
        width: min-content;
    }
}