.contact {
    width: 911px;
    height: 661px;
    top: 3485px;
    left: 265px;
    padding-left: 200px;

    h1 {
        font-size: 54px;
    }
}


.arrowUp {
    width: 38px;
    height: 89px;
    border-radius: 30px;
    border: 1px #89BCD9 solid;
    background-color: transparent;
    position: absolute;
    right: 0;

    img {
        width: 22px;
        height: 50px;
        top: 20px;
        left: 8px;
    }
}


.arrowUp:hover {
    background-color: #394B55;
}