.contact {
    width: 911px;
    height: 661px;
    top: 3485px;
    left: 265px;
    padding-left: 200px;

    h1 {
        font-size: 54px;
    }
}


.arrowUp {
    width: 38px;
    height: 89px;
    border-radius: 30px;
    border: 1px #89BCD9 solid;
    background-color: transparent;
    position: absolute;
    right: 200px;

    img {
        width: 22px;
        height: 50px;
        top: 20px;
        left: 8px;
    }
}


.arrowUp:hover {
    background-color: #394B55;
}


.contactContent {
    width: 911px;
    height: 124px;
    gap: 36px;
}


.description {
    width: 429px;
    height: 124px;
    font-size: 18px;
}


.mailImg,
.phone {
    width: 26.19px;
    height: 30px;
}


.mailSection,
.phoneSection {
    min-width: 445px;
    height: 124px;
    display: flex;
    align-items: center;
    gap: 30px;
}


.mailSection,
.phoneSection,
p:hover {
    color: #89BCD9;
}


.contactField {
    width: 911px;
    height: 356px;
    gap: 21px;
}


.formField {
    gap: 21px;
}


.name,
.mail {
    width: 445px;
    height: 80px;

    input {
        min-width: 445px;
        height: 60px;
        top: 20px;
        border-radius: 30px;
        border: 1px #89BCD9 solid;
        background-color: transparent;
        padding-left: 8px;
    }

    input:focus {
        border: 1px #89BCD9 solid;
        background-color: #313F48;
        caret-color: #F8F5EC;
        outline: none;
        border: 1px solid #89BCD9;
        padding-left: 8px;
    }
}


.name {
    p {
        width: 68px;
        height: 17px;
        top: 3px;
        left: 27px;
        font-size: 14px;
    }
}


.mail {
    p {
        width: 70px;
        height: 17px;
        top: 3px;
        left: 27px;
        font-size: 14px;
    }
}


.message {
    p {
        width: 89px;
        height: 18.06px;
        top: 0.44px;
        left: 27px;
        font-size: 14px;
    }

    textarea {
        width: 911px;
        height: 146.63px;
        top: 17.38px;
        border-radius: 30px;
        border: 1px #89BCD9 solid;
        background-color: transparent;
        padding: 16px 8px;
    }

    textarea:focus {
        border: 1px #89BCD9 solid;
        background-color: #313F48;
        caret-color: #F8F5EC;
        outline: none;
        border: 1px solid #89BCD9;
        padding: 16px 8px;
    }
}


.policy {
    width: 911px;
    height: 80px;
    align-items: center;
}


.send button {
    width: 101px;
    height: 48px;
    top: 32px;
    left: 810px;
    border-radius: 30px;
    border: 1px #89BCD9 solid;
    background-color: transparent;
    font-size: 18px;
    position: relative;
}