<div class="contact">
    <button class="arrowUp flexCenter cursorPointer">
        <img src="assets/img/Arrow Up.png" alt="">
    </button>

    <h1 class="AntaRegular400 color89BCD9 flexCenter">Contact Me</h1>

    <div class="contactContent flex">
        <div>
            <p class="description josefinSansRegular400 colorF8F5EC">Encourage people to contact you and describe what
                role you are
                interested
                in. Show that you will add
                value to their projects through your work.
                Example: Feel free to get in touch with job offers or opportunities such as: ...</p>
        </div>
        <div class="flexColumn">
            <div class=" mailSection cursorPointer">
                <img class="mail" src="assets/img/contact/emailWhite.png" alt="">
                <p class="josefinSansRegular400 colorF8F5EC">E-Mail: nadjaparadiesvogel(at)gmail.com</p>
            </div>
            <div class="phoneSection">
                <img class="phone" src="assets/img/contact/phoneWhite.png" alt="">
                <p class="josefinSansRegular400 colorF8F5EC">Tel: +49 151 154 756 66</p>
            </div>
        </div>
    </div>
</div>