<div class="flexColumn flexCenter">

    <div class="contact">
        <button (click)="scrollTo('hero')" class="arrowUp flexCenter cursorPointer">
            <img src="assets/img/Arrow Up.png" alt="">
        </button>

        <h1 class="AntaRegular400 color89BCD9 flexCenter">Contact Me</h1>

        <div class="contactContent flex">
            <div>
                <span class="description josefinSansRegular400 colorF8F5EC flexCenter">
                    I’d love to hear from you! I work in both front- and back-end development and enjoy bringing ideas
                    to life while adding value to projects.
                </span>
            </div>

            <div class="flexColumn flexCenter">
                <div class="mailSection cursorPointer">
                    <img class="mailImg" src="assets/img/contact/emailWhite.png" alt="">
                    <a href="mailto:nadjaparadiesvogel@gmail.com">
                        <p class="josefinSansRegular400 colorF8F5EC">E-Mail: nadjaparadiesvogel&#64;gmail.com</p>
                    </a>
                </div>
                <div class="phoneSection">
                    <img class="phone" src="assets/img/contact/phoneWhite.png" alt="">
                    <p class="josefinSansRegular400 colorF8F5EC">Tel: +49 151 154 756 66</p>
                </div>
            </div>
        </div>

        <!-- Reactive Form -->
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contactField flexColumn">

            <div class="formField flex">
                <div class="name">
                    <p class="josefinSansRegular400 color89BCD9">Your Name</p>
                    <input type="text" formControlName="name" class="cursorPointer">
                    <small *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.invalid">
                        Name is required
                    </small>
                </div>

                <div class="mail">
                    <p class="josefinSansRegular400 color89BCD9">Your Email</p>
                    <input type="email" formControlName="email" class="cursorPointer">
                    <small *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
                        Valid email is required
                    </small>
                </div>
            </div>

            <div class="message">
                <p class="josefinSansRegular400 color89BCD9">Your Message</p>
                <textarea formControlName="message" class="cursorPointer"></textarea>
                <small *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
                    Message is required
                </small>
            </div>

            <div class="policy flex">
                <input type="checkbox" formControlName="acceptPolicy" class="cursorPointer">
                <span class="josefinSansRegular400 colorF8F5EC flex">
                    I've read the
                    <a [routerLink]="'/police'" class="flexCenter josefinSansRegular400 color89BCD9 cursorPointer">
                        privacy policy
                    </a>
                    and agree to the processing of my data as outlined.
                </span>
            </div>

            <div class="send flexCenter">
                <button type="submit" class="josefinSansRegular400 color89BCD9 cursorPointer"
                    [disabled]="contactForm.invalid">
                    Send
                </button>
            </div>

        </form>
    </div>
</div>