<div class="contact">
    <button class="arrowUp flexCenter cursorPointer">
        <img src="assets/img/Arrow Up.png" alt="">
    </button>

    <h1 class="AntaRegular400 color89BCD9 flexCenter">Contact Me</h1>

    <div class="contactContent flex">
        <div>
            <span class="description josefinSansRegular400 colorF8F5EC">Encourage people to contact you and describe
                what
                role you are
                interested
                in. Show that you will add
                value to their projects through your work.
                Example: Feel free to get in touch with job offers or opportunities such as: ...</span>
        </div>
        <div class="flexColumn">
            <div class="mailSection cursorPointer">
                <img class="mailImg" src="assets/img/contact/emailWhite.png" alt="">
                <p class="josefinSansRegular400 colorF8F5EC">E-Mail: nadjaparadiesvogel(at)gmail.com</p>
            </div>
            <div class="phoneSection">
                <img class="phone" src="assets/img/contact/phoneWhite.png" alt="">
                <p class="josefinSansRegular400 colorF8F5EC">Tel: +49 151 154 756 66</p>
            </div>
        </div>
    </div>

    <div class="contactField flexColumn">
        <div class="formField flex">
            <div class="name">
                <p class="josefinSansRegular400 color89BCD9">Your name</p>
                <input class="cursorPointer" type="text">
            </div>
            <div class="mail">
                <p class="josefinSansRegular400 color89BCD9">Your Email</p>
                <input class="cursorPointer" type="text">
            </div>
        </div>

        <div class="message">
            <p class="josefinSansRegular400 color89BCD9">Your Message</p>
            <input class="cursorPointer" type="text">
        </div>

        <div class="policy flex">
            <img src="assets/img/checkBox.png" alt="">
            <span class="josefinSansRegular400 colorF8F5EC flexCenter">I've read the <p
                    class="josefinSansRegular400 color89BCD9 cursorPointer">
                    privacy policy</p> and agree to the processing of my data as outlined.</span>
        </div>

        <div class="send flexCenter">
            <button class="josefinSansRegular400 color89BCD9 cursorPointer">Send</button>
        </div>
    </div>
</div>