<div class="hero flexCenter heroDesktop">
    <div class="heroContent flex flexSpaceBetween">
        <div class="heroInfo flex">
            <div class="bigMe">
                <img src="assets/img/me.png" alt="Hero Image">
            </div>
            <div class="flex flexCenter flexColumn developerSocial">
                <div class="developerInfo flex">
                    <div class="socialMediaIcons flexColumn">
                        <a href="mailto:nadjaparadiesvogel@gmail.com">
                            <img class="mail" src="assets/img/socialMedia/mailBlue.png" alt="Mail">
                        </a>
                        <a href="https://github.com/Traumzerfetzerin" target="_blank" rel="noopener">
                            <img class="gitHub" src="assets/img/socialMedia/gitHubBlue.png" alt="GitHub">
                        </a>
                        <!-- <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener">
                            <img class="linkedIn" src="assets/img/socialMedia/linkedInBlue.png" alt="LinkedIn">
                        </a> -->
                    </div>
                </div>
                <div class="developerInfoContent flexCenter flexColumn">
                    <div>
                        <img class="logo" src="assets/img/NP-Logo.png" alt="Logo">
                    </div>
                    <div>
                        <p class="AntaRegular400 colorF8F5EC margin0">N.Petruck</p>
                        <p class="josefinSansLight300 color89BCD9 margin0">{{ 'hero.developer' | translate }}</p>
                    </div>
                </div>
                <p class="developer AntaRegular400 colorF8F5EC margin0">Nadja Petruck</p>
                <p class="learned josefinSansRegular400 colorF8F5EC flexCenter">{{ 'hero.fullstack' | translate }}</p>
                <button class="arrowDown flexCenter cursorPointer">
                    <img (click)="scrollTo('whyMe')" src="assets/img/Arrow Down.png" alt="">
                </button>
            </div>
        </div>
    </div>
    <app-menu></app-menu>
</div>



<div class="hero flex heroMobile">
    <div class="heroContent flex flexSpaceBetween">
        <div class="flex flexCenter flexColumn developerSocial">
            <div class="developerInfo flex">
                <div class="heroInfo flex">
                    <div class="bigMeMobile">
                        <img src="assets/img/me.png" alt="Hero Image" *ngIf="!isVisible">
                        <div class="navigation flexCenter flexColumn" *ngIf="isVisible" #menu>
                            <div class="navigationLinks flexColumn flexCenter">
                                <div class="flexColumn links">
                                    <a (click)="scrollTo('whyMe'); isVisible = false"
                                        class="navLink josefinSansRegular400 color262E34 cursorPointer"
                                        [class.active]="activeSection === 'whyMe'">{{ 'menu.whyMe' |
                                        translate }}</a>
                                    <a (click)="scrollTo('skills'); isVisible = false"
                                        class="navLink josefinSansRegular400 color262E34 cursorPointer"
                                        [class.active]="activeSection === 'skills'">{{ 'menu.skills' | translate }}</a>
                                    <a (click)="scrollTo('projects'); isVisible = false"
                                        class="navLink josefinSansRegular400 color262E34 cursorPointer"
                                        [class.active]="activeSection === 'projects'">{{ 'menu.projects' | translate
                                        }}</a>
                                    <a (click)="scrollTo('contact'); isVisible = false"
                                        class="navLink josefinSansRegular400 color262E34 cursorPointer"
                                        [class.active]="activeSection === 'contact'">{{ 'menu.contact' | translate
                                        }}</a>
                                </div>

                                <div class="languageSwitcher cursorPointer flex flexSpaceBetween">
                                    <p class="german josefinSansRegular400 margin0 color262E34"
                                        (click)="switchLang('de')">DE</p>
                                    <p class="english josefinSansRegular400 flexCenter margin0 colorF8F5EC"
                                        (click)="switchLang('en')">EN</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="socialMediaIcons flexColumn">
                        <a href="mailto:nadjaparadiesvogel@gmail.com">
                            <img class="mail" src="assets/img/socialMedia/mailBlue.png" alt="Mail">
                        </a>
                        <a href="https://github.com/Traumzerfetzerin" target="_blank" rel="noopener">
                            <img class="gitHub" src="assets/img/socialMedia/gitHubBlue.png" alt="GitHub">
                        </a>
                        <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener">
                            <img class="linkedIn" src="assets/img/socialMedia/linkedInBlue.png" alt="LinkedIn">
                        </a>
                    </div>
                </div>
                <div class="developerInfoContent flexCenter flexColumn">
                    <div>
                        <img class="logo" src="assets/img/NP-Logo.png" alt="Logo">
                    </div>
                    <div>
                        <p class="AntaRegular400 colorF8F5EC margin0">N.Petruck</p>
                        <p class="josefinSansLight300 color89BCD9 margin0">{{ 'hero.developer' | translate }}</p>
                    </div>
                </div>
                <div class="burger cursorPointer" #burger (click)="toggleMenu()">
                    <img src="assets/img/burger.png" alt="">
                </div>
                <p class="developer AntaRegular400 colorF8F5EC margin0">Nadja Petruck</p>
                <p class="learned josefinSansRegular400 colorF8F5EC flexCenter">{{ 'hero.fullstack' | translate }}</p>
                <button class="arrowDown flexCenter cursorPointer">
                    <img (click)="scrollTo('whyMe')" src="assets/img/Arrow Down.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>