<div class="hero">
    <div class="flex flexSpaceBetween">

        <div class="flex flexSpaceBetween">
            <div class="bigMe">
                <img src="assets/img/me.png" alt="Hero Image">
            </div>

            <div class="flex">
                <div class="developerInfo">
                    <div>
                        <img class="logo" src="assets/img/logo.png" alt="Logo">
                    </div>
                    <div>
                        <p class="AntaRegular400 colorF8F5EC margin0">N.Petruck</p>
                        <p class="josefinSansLight300 color89BCD9 margin0">developer</p>
                    </div>
                </div>
                <div class="socialMediaIcons flexColumn">
                    <img class="mail" src="assets/img/socialMedia/mailBlue.png" alt="Mail">
                    <a href="https://github.com/Traumzerfetzerin" target="_blank" rel="noopener">
                        <img class="gitHub" src="assets/img/socialMedia/gitHubBlue.png" alt="GitHub">
                    </a>
                    <img class="linkedIn" src="assets/img/socialMedia/linkedInBlue.png" alt="LinkedIn">
                </div>
            </div>
        </div>

        <div class="flex flexCenter flexColumn">
            <p class="developer AntaRegular400 colorF8F5EC margin0">Nadja Petruck</p>
            <p class="learned josefinSansRegular400 colorF8F5EC flexCenter">FULLSTACK DEVELOPER</p>
            <button class="arrowDown flexCenter cursorPointer">
                <img (click)="scrollTo('whyMe')" src="assets/img/Arrow Down.png" alt="">
            </button>
        </div>
    </div>
</div>