.hero {
    width: 100%;
    height: 705px;
}


.heroInfo {
    width: 100%;
    justify-content: space-between;
}


.heroContent {
    flex: 1;
}


.bigMe {
    width: 535px;
    height: 683px;

    img {
        position: relative;
        top: 22px;
        left: 25px;
        z-index: 10;
        width: 535px;
        height: 683px;
    }
}


.bigMe::before,
.bigMe::after {
    content: "";
    position: absolute;
    width: 535px;
    height: 683px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
}


.bigMe::before {
    background-image: url('/assets/img/shape/heroShape.png');
    opacity: 1;
}


.bigMe::after {
    background-image: url('/assets/img/shape/heroShapeAcross.png');
    opacity: 0;
    rotate: 45deg;
    translate: (15% 10%);
    transform-origin: center;
    top: 85px;
    left: 202px;
}



.bigMe:hover::before {
    opacity: 0;
}


.bigMe:hover::after {
    opacity: 1;
}


.developerInfo {
    position: relative;
    width: 100%;
}


.developerInfoContent {
    width: 66px;

    img {
        width: 56px;
        height: 38px;
        left: 5px;
    }

    img:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.1);
    }
}


.socialMediaIcons {
    width: 30px;
    height: 122px;
    top: -65px;
    gap: 16px;
    right: 0;
    position: absolute
}


.gitHub:hover {
    content: url('/assets/img/socialMedia/gitHubFilled.png');
}


.mail:hover {
    content: url('/assets/img/socialMedia/mailFilled.png');
}


.linkedIn:hover {
    content: url('/assets/img/socialMedia/linkedInFilled.png');
}


.developer {
    width: 610px;
    height: 81px;
    top: 230px;
    left: 607px;
    font-size: 88px;
}


.learned {
    width: 501px;
    height: 53px;
    top: 347px;
    left: 662px;
}


.arrowDown {
    width: 38px;
    height: 89px;
    top: 540px;
    left: 906px;
    border-radius: 30px;
    border: 1px #89BCD9 solid;
    background-color: transparent;

    img {
        width: 22px;
        height: 50px;
        top: 20px;
        left: 8px;
    }
}


.arrowDown:hover {
    background-color: #394B55;
}



// media queries
@media (max-width: 1455px) {
    .heroContent {
        flex: 0;
    }
}


@media (max-width: 1160px) {
    .developer {
        font-size: 60px;
        width: auto;
    }

    .bigMe img {
        top: 100px;
        width: 400px;
        height: 600px;
    }
}


@media (max-width: 1050px) {
    .bigMe {
        width: auto;
    }
}


@media (max-width: 920px){
        .bigMe img {
        top: 250px;
        width: 250px;
        height: 450px;
    }
}