.bigMe {
    position: relative;
    width: 535px;
    height: 683px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        max-width: 100%;
        height: auto;
    }
}


.bigMe::before,
.bigMe::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 25px;
    width: 535px;
    height: 683px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}


.bigMe::before {
    background-image: url('/assets/img/shape/heroShape.png');
    opacity: 1;
}


.bigMe::after {
    background-image: url('/assets/img/shape/heroShapeAcross.png');
    opacity: 0;
}


.bigMe:hover::before {
    opacity: 0;
}


.bigMe:hover::after {
    opacity: 1;
}