<div class="flexCenter skillsContainer">
    <div id="skills" class="skills">
        <h1 class="AntaRegular400 flexCenter color89BCD9">{{ 'skills.h1' | translate }}</h1>

        <div class="skillsContent flex flexCenter">
            <div class="skillsIcons flex">
                @for (skill of skills; track skill.name) {
                <div class="flexColumn" data-aos="zoom-in">
                    <img [src]="skill.img" [alt]="skill.name">
                    <p class="josefinSansRegular400 color89BCD9">{{ skill.name }}</p>
                </div>
                }
            </div>

            <div class="currentlyLearning currentlyLearningDesktop">
                <div class="learningContent flexCenter flexColumn">
                    <p class="josefinSansRegular400 colorF8F5EC currentLearning">{{ 'skills.currentLearning' | translate
                        }}</p>
                    <div class="currentlyLearningIcons flex flexCenter">
                        <div class="flex flexCenter flexColumn">
                            <img src="assets/img/skills/react.png" alt="React">
                            <p class="josefinSansRegular400 colorF8F5EC">React</p>
                        </div>
                        <div class="flex flexCenter flexColumn">
                            <img src="assets/img/skills/VueJs.png" alt="Vue Js">
                            <p class="josefinSansRegular400 colorF8F5EC">Vue Js</p>
                        </div>
                    </div>
                    <p class="josefinSansRegular400 colorF8F5EC">{{ 'skills.learning' | translate }}</p>
                </div>
            </div>

            <div class="skillsMobile">
                <p class="josefinSansRegular400 color89BCD9 currentLearning flexCenter">{{ 'skills.currentLearning' |
                    translate }}</p>
                <div class="flex flexCenter">
                    <p class="josefinSansRegular400 colorF8F5EC learning">{{ 'skills.learning' | translate }}</p>
                    <div class="currentlyLearning currentlyLearningMobile">
                        <div class="learningContent flexCenter flexColumn">
                            <div class="currentlyLearningIcons flex flexCenter">
                                <div class="flex flexCenter flexColumn">
                                    <img src="assets/img/skills/react.png" alt="React">
                                    <p class="josefinSansRegular400 colorF8F5EC">React</p>
                                </div>
                                <div class="flex flexCenter flexColumn">
                                    <img src="assets/img/skills/VueJs.png" alt="Vue Js">
                                    <p class="josefinSansRegular400 colorF8F5EC">Vue Js</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flexCenter">
                    <button (click)="scrollTo('contact')" class="josefinSansRegular400 color394B55 cursorPointer">{{
                        'me.contactButton' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>