<div class="flexCenter">
    <div id="skills" class="skills">
        <h1 class="AntaRegular400 flexCenter color89BCD9">My Skills</h1>

        <div class="skillsContent flex flexCenter">
            <div class="skillsIcons flex">
                @for (skill of skills; track skill.name) {
                <div class="flexColumn">
                    <img [src]="skill.img" [alt]="skill.name">
                    <p class="josefinSansRegular400 color89BCD9">{{ skill.name }}</p>
                </div>
                }
            </div>

            <div class="currentlyLearning">
                <div class="learningContent flexCenter flexColumn">
                    <p class="josefinSansRegular400 colorF8F5EC">I am currently learning</p>
                    <div class="currentlyLearningIcons flex flexCenter">
                        <div class="flex flexCenter flexColumn">
                            <img src="assets/img/skills/react.png" alt="React">
                            <p class="josefinSansRegular400 colorF8F5EC">React</p>
                        </div>
                        <div class="flex flexCenter flexColumn">
                            <img src="assets/img/skills/Vue Js.png" alt="Vue Js">
                            <p class="josefinSansRegular400 colorF8F5EC">Vue Js</p>
                        </div>
                    </div>
                    <p class="josefinSansRegular400 colorF8F5EC">I love learning new technologies, experimenting with
                        creative solutions, and continuously improving my skills.</p>
                </div>
            </div>
        </div>
    </div>
</div>