.skills {
    width: 869px;
    top: 1365px;
    left: 286px;
    gap: 80px;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 18px;
    }
}


.skillsContent {
    gap: 40px;
}


.skillsIcons {
    max-width: 409px;
    max-height: 404px;
    gap: 40px;
    flex-wrap: wrap;

    div {
        max-width: 80px;
        max-height: 100px;
        gap: 10px;
    }

    img {
        width: 60px;
        height: 60px;
    }

    p {
        width: 66px;
        height: 22px;
        font-size: 18px;
    }
}


.currentlyLearning {
    width: 380px;
    height: 380px;
    position: relative;
    overflow: hidden;
    padding: 40px;

    p {
        height: 23px;
        top: 81px;
        left: 91px;
    }
}


.learningContent {
    height: 300px;
}


.currentlyLearning::before,
.currentlyLearning::after {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
}


.currentlyLearning::before {
    background-image: url('/assets/img/shape/learningShape.png');
    opacity: 1;
}


.currentlyLearning::after {
    background-image: url('/assets/img/shape/learningShapeAcross.png');
    opacity: 0;
}


.currentlyLearning:hover::before {
    opacity: 0;
}


.currentlyLearning:hover::after {
    opacity: 1;
}


.currentlyLearningIcons {
    width: 96px;
    min-height: 54px;
    top: 123px;
    left: 135px;
    gap: 24px;

    div {
        min-width: 100px;
        min-height: 100px;
        gap: 10px;
    }
}



// MEDIA QUERIES
@media (max-width: 1050px) {
    .skillsContainer {
        width: 900px;
    }
}


@media (max-width: 920px) {
    .skillsContent {
        flex-direction: column;
    }
}