<div class="skills">
    <h1>My Skills</h1>

    <div class="skillsContent">
        <div class="skillsIcons">
            @for (skill of skills; track skill.name) {
            <div>
                <img [src]="skill.img" [alt]="skill.name">
                <p>{{ skill.name }}</p>
            </div>
            }
        </div>

        <div class="currentlyLearning">
            <div class="learningContent">
                <p>I am currently learning</p>
                <div class="currentlyLearningIcons">
                    <div>
                        <img src="assets/img/skills/react.png" alt="React">
                        <p>React</p>
                    </div>
                    <div>
                        <img src="assets/img/skills/Vue Js.png" alt="Vue Js">
                        <p>Vue Js</p>
                    </div>
                </div>
                <span>Show that you are motivated to continually improve your skills, implement innovative solutions and
                    stay abreast of new technologies.</span>
            </div>
        </div>
    </div>
</div>