.projects {
    padding-left: 20px;
}

// .mat-mdc-tab-list {
// width: 981px;
// height: 97px;
// left: 102px;
// }


.projectsContent {
    width: 1199px;
    height: 517px;
    top: 128px;
    left: 123px;
}


h2 {
    font-size: 28px;
}


h3 {
    font-size: 18px;
}


.bulletPoint {
    width: 29px;
    height: 26px;
    top: 2px;
}


.techImg {
    width: 34px;
    height: 36px;
}


.projectImg {
    width: 453.47px;
    height: 312px;
    top: 95px;
    left: 746px;
    border-radius: 30px;
}