<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="1. Yokairyu">
        <div class="flex flexColumn">
            <div class="flex">
                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                <h2>About the project</h2>
                <h3>Duration: 5 weeks</h3>
            </div>
            <p>A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison
                bottles to fight against the killer whale.</p>
        </div>

        <div class="flex flexColumn">
            <div class="flex">
                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                <h2>How I have organised my work proces</h2>
            </div>
            <p>How do you keep your code clean and maintainable? Have you broken the project down into resuable modules
                or components? Focus on documentation, naming files, variables, classes and testing.</p>
        </div>

        <div class="flex flexColumn">
            <div class="flex">
                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                <h2>What I have learnt</h2>
            </div>
            <p>As someone who is always trying to learn new technologies, you may have enjoyed working on this project
                beacause it alloew you to delve deep into a particular technology. Give details, such as the name of the
                framework or language you mean.</p>
        </div>
    </mat-tab>
    <mat-tab label="2. Join">
        <div class="flex flexColumn">
            <div class="flex">
                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                <h2>About the project</h2>
                <h3>Duration: 2 months</h3>
            </div>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories.</p>
        </div>

        <div class="flex flexColumn">
            <div class="flex">
                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                <h2>How I have organised my work proces</h2>
            </div>
            <p>How do you keep your code clean and maintainable? Have you broken the project down into resuable modules
                or components? Focus on documentation, naming files, variables, classes and testing.</p>
        </div>

        <div class="flex flexColumn">
            <div class="flex">
                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                <h2>My group work experience</h2>
            </div>
            <p>How many people were in the team and what was your role? Describe your tasks in 1-2 setences. It is nice
                to mention a good teamwork and cooperation.</p>
        </div>
    </mat-tab>
    <mat-tab label="3. Ongoing Project">
        <div class="flex flexColumn">
            <div class="flex">
                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                <h2>About the project</h2>
            </div>
            <p>What are you currently working on and what features are you implementing? What is the key to success in
                your projects? You can mention good planning, code quality and execution.</p>
            <p>Show a desire to learn new technologies and continually improve your skills.</p>
        </div>
    </mat-tab>
</mat-tab-group>