h1 {
    width: 332px;
    height: 72px;
    top: 2025px;
    left: 554px;
    font-size: 60px;
    position: relative;
}


.projects {
    width: 1199px;
    // height: 517px;
    top: 2177px;
    left: 123px;
    position: relative;
}


h2 {
    font-size: 28px;
}


h3 {
    font-size: 18px;
}


.bulletPoint {
    width: 29px;
    height: 26px;
    top: 2px;
}

.technologies {
    top: 9px;
    left: 881px;
    padding-right: 2px;
    padding-left: 2px;
    gap: 12px;

    h3 {
        font-size: 18px;
    }

    .techImg {
        width: 179px;
        height: 36px;
        padding-right: 6px;
        padding-left: 6px;
        gap: 32px;
    }

    img {
        width: 34px;
        height: 36px;
    }
}


.projectImg {
    width: 453.47px;
    height: 312px;
    top: 95px;
    left: 746px;
    border-radius: 30px;
}