<h1 class="AntaRegular400 color89BCD9 flexCenter">Projects</h1>
<div class="projects">
    <mat-tab-group dynamicHeight>

        <mat-tab label="1. Pokedex">
            <div class="projectsContent flex">
                <div class="flexColumn">
                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">About the project</h2>
                            <!-- <h3 class="josefinSansRegular400 colorF8F5EC">Duration: 3 weeks</h3> -->
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">The Pokémon Trainer Register is a web app that
                            fetches Pokémon data from a public API, allowing users to explore types, abilities, stats,
                            and images in a modern digital Pokédex.</p>
                    </div>

                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">How I have organised my work proces</h2>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">I planned the features and component structure
                            first, then integrated the API, built a responsive interface, and refined the app with
                            clean, modular code.</p>
                    </div>

                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">What I have learnt</h2>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">I learned to work with REST APIs, manage dynamic
                            data and loading states, structure scalable applications, and strengthen problem-solving
                            while building maintainable code.</p>
                    </div>
                </div>
                <div class="flexCenter flexColumn">
                    <div class="technologies flexColumn flexCenter">
                        <h3 class="josefinSansRegular400 colorF8F5EC flexCenter">Technologies</h3>
                        <div class="techImg flex">
                            <img src="assets/img/skills/html.png" alt="HTML">
                            <img src="assets/img/skills/Javascript.png" alt="JavaScript">
                            <img src="assets/img/skills/css.png" alt="CSS">
                            <img src="assets/img/skills/api.png" alt="API">
                        </div>
                    </div>
                    <img class="projectImg" src="assets/img/projects/Pokedex.png" alt="Pokedex">
                    <div class="button flexCenter">
                        <a href="https://nadja-petruck.developerakademie.net/Pokedex/index.html" target="_blank"
                            rel="noopener">
                            <button class="live josefinSansRegular400 color262E34 flexCenter">Live Test</button>
                        </a>
                        <a href="https://github.com/Traumzerfetzerin/Pokedex" target="_blank" rel="noopener">
                            <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                        </a>
                    </div>
                </div>
            </div>
        </mat-tab>


        <mat-tab label="2. Yokairyu">
            <div class="projectsContent flex">
                <div class="flexColumn">
                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">About the project</h2>
                            <h3 class="josefinSansRegular400 colorF8F5EC">Duration: 5 weeks</h3>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">I created a jump-and-run game where the player
                            becomes the hero controlling the action, combining fun gameplay with advanced programming
                            concepts to deliver an engaging experience.</p>
                    </div>

                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">How I have organised my work proces</h2>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">I started by planning the game mechanics and
                            designing the object-oriented structure, then implemented the player controls, levels, and
                            obstacles, and finally tested and refined the gameplay for smooth performance.</p>
                    </div>

                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">What I have learnt</h2>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">I learned to apply object-oriented programming in a
                            real project, manage game state and logic, handle collision detection, and develop a
                            structured approach to building interactive applications.</p>
                    </div>
                </div>
                <div class="flexCenter flexColumn">
                    <div class="technologies flexColumn flexCenter">
                        <h3 class="josefinSansRegular400 colorF8F5EC flexCenter">Technologies</h3>
                        <div class="techImg flex">
                            <img src="assets/img/skills/html.png" alt="HTML">
                            <img src="assets/img/skills/Javascript.png" alt="JavaScript">
                            <img src="assets/img/skills/css.png" alt="CSS">
                        </div>
                    </div>
                    <img class="projectImg" src="assets/img/projects/YokairyuGame.png" alt="Yokairyu">
                    <div class="button flexCenter">
                        <a href="https://nadja-petruck.developerakademie.net/Yokairyu/index.html" target="_blank"
                            rel="noopener">
                            <button class="live josefinSansRegular400 color262E34 flexCenter">Live Test</button>
                        </a>
                        <a href="https://github.com/Traumzerfetzerin/Yokairyu" target="_blank" rel="noopener">
                            <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                        </a>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="3. Join">
            <div class="projectsContent flex">
                <div class="flexColumn">
                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">About the project</h2>
                            <h3 class="josefinSansRegular400 colorF8F5EC">Duration: 2 months</h3>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">Together with other participants from the training,
                            I helped build a web app using HTML, CSS, JavaScript, Git, and Firebase, creating a project
                            management tool that visualizes task status and responsibilities.</p>
                    </div>

                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">How I have organised my work proces</h2>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">I collaborated closely with the team to plan
                            features, set up version control with Git, implement the frontend and backend, and
                            coordinate tasks to ensure smooth progress and integration.</p>
                    </div>

                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">My group work experience</h2>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">I learned to work effectively in a team, manage a
                            project using Git and Firebase, structure frontend and backend components, and develop
                            practical skills in building a collaborative web application.</p>
                    </div>
                </div>
                <div class="flexCenter flexColumn">
                    <div class="technologies flexColumn flexCenter">
                        <h3 class="josefinSansRegular400 colorF8F5EC flexCenter">Technologies</h3>
                        <div class="techImg flex">
                            <img class="techImg" src="assets/img/skills/html.png" alt="HTML">
                            <img class="techImg" src="assets/img/skills/Javascript.png" alt="JavaScript">
                            <img class="techImg" src="assets/img/skills/css.png" alt="CSS">
                            <img class="techImg" src="assets/img/skills/git.png" alt="git">
                            <img class="techImg" src="assets/img/skills/Firebase.png" alt="Firebase">
                        </div>
                    </div>
                    <img class="projectImg" src="assets/img/projects/Join.png" alt="Join">
                    <div class="button flexCenter">
                        <a href="https://join-382.developerakademie.net/Join/html/login.html" target="_blank"
                            rel="noopener"><button class="live josefinSansRegular400 color262E34 flexCenter">Live
                                Test</button></a>
                        <a href="https://github.com/Traumzerfetzerin/Join" target="_blank" rel="noopener">
                            <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                        </a>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="4. Ongoing Project">
            <div class="projectsContent flex">
                <div class="flexColumn">
                    <div class="flexColumn">
                        <div class="flex">
                            <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                            <h2 class="josefinSansRegular400 colorF8F5EC">About the project</h2>
                        </div>
                        <p class="josefinSansRegular400 colorF8F5EC">What are you currently working on and what features
                            are
                            you
                            implementing? What is the key to success
                            in
                            your projects? You can mention good planning, code quality and execution.</p>
                        <p class="josefinSansRegular400 colorF8F5EC">Show a desire to learn new technologies and
                            continually
                            improve your skills.</p>
                    </div>
                </div>
                <div class="flexCenter flexColumn">
                    <div class="technologies flexColumn flexCenter">
                        <h3 class="josefinSansRegular400 colorF8F5EC flexCenter">Technologies</h3>
                        <div class="techImg flex">
                            <img src="assets/img/skills/Angular.png" alt="Angular">
                            <img src="assets/img/skills/TypeScript.png" alt="TypeScript">
                            <img src="assets/img/skills/html.png" alt="HTML">
                            <img src="assets/img/skills/css.png" alt="CSS">
                            <img src="assets/img/skills/Vue Js.png" alt="Vue JS">
                            <img src="assets/img/skills/react.png" alt="React">
                        </div>
                    </div>
                    <div class="commingSoon flexCenter josefinSansMedium500 color89BCD9">Comming soon...</div>
                    <div class="button flexCenter">
                        <button class="live josefinSansRegular400 color262E34 flexCenter">Live Test</button>
                        <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>