<div class="flexColumn flexCenter projectsContainer">
    <h1 class="AntaRegular400 color89BCD9 flexCenter">{{ 'projects.h1' | translate }}</h1>
    <div class="projects">
        <mat-tab-group dynamicHeight>
            <mat-tab label="1. Pokedex">
                <div class="projectsContent flex">
                    <p class="josefinSansRegular400 colorF8F5EC technologiesText">{{ 'projects.technologies' | translate
                        }}: HTML, JavaScript, CSS, API</p>
                    <div class="flexColumn projectsDescription">
                        <div class="flexColumn aboutTheProject">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint1' | translate }}
                                </h2>
                                <!-- <h3 class="josefinSansRegular400 colorF8F5EC">Duration: 3 weeks</h3> -->
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab1About' | translate }}</p>
                        </div>
                        <div class="flexColumn howIWorked">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint2' | translate }}
                                </h2>
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab1How' | translate }}</p>
                        </div>
                        <div class="flexColumn whatILearned">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint3' | translate }}
                                </h2>
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab1What' | translate }}</p>
                        </div>
                        <div class="buttonMobile flexCenter">
                            <a href="https://nadja-petruck.developerakademie.net/Pokedex/index.html" target="_blank"
                                rel="noopener">
                                <button class="live josefinSansRegular400 color262E34 flexCenter">Live Test</button>
                            </a>
                            <a href="https://github.com/Traumzerfetzerin/Pokedex" target="_blank" rel="noopener">
                                <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                            </a>
                        </div>
                    </div>
                    <div class="flexCenter projectImgContainer">
                        <div class="technologies flexColumn flexCenter">
                            <h3 class="josefinSansRegular400 colorF8F5EC flexCenter">{{ 'projects.technologies' |
                                translate }}</h3>
                            <div class="techImg flex">
                                <img src="assets/img/skills/html.png" alt="HTML">
                                <img src="assets/img/skills/Javascript.png" alt="JavaScript">
                                <img src="assets/img/skills/css.png" alt="CSS">
                                <img src="assets/img/skills/api.png" alt="API">
                            </div>
                        </div>
                        <div class="flexCenter">
                            <img class="projectImg" src="assets/img/projects/Pokedex.png" alt="Pokedex">
                        </div>
                        <div class="button flexCenter">
                            <a href="https://nadja-petruck.developerakademie.net/Pokedex/index.html" target="_blank"
                                rel="noopener">
                                <button class="live josefinSansRegular400 color262E34 flexCenter">Live Test</button>
                            </a>
                            <a href="https://github.com/Traumzerfetzerin/Pokedex" target="_blank" rel="noopener">
                                <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                            </a>
                        </div>
                    </div>
                </div>



            </mat-tab>
            <mat-tab label="2. Yokairyu">
                <div class="projectsContent flex">
                    <p class="josefinSansRegular400 colorF8F5EC technologiesText">{{ 'projects.technologies' | translate
                        }}: HTML, JavaScript, CSS
                    </p>
                    <div class="flexColumn projectsDescription">
                        <div class="flexColumn aboutTheProject">
                            <div class="flex ">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint1' | translate }}
                                </h2>
                                <!-- <h3 class="josefinSansRegular400 colorF8F5EC">Duration: 5 weeks</h3> -->
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab2About' | translate }}</p>
                        </div>
                        <div class="flexColumn howIWorked">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint2' | translate }}
                                </h2>
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab2How' | translate }}</p>
                        </div>
                        <div class="flexColumn whatILearned">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint3' | translate }}
                                </h2>
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab2What' | translate }}</p>
                        </div>
                        <div class="buttonMobile flexCenter">
                            <a href="https://nadja-petruck.developerakademie.net/Yokairyu/index.html" target="_blank"
                                rel="noopener">
                                <button class="live josefinSansRegular400 color262E34 flexCenter">Live Test</button>
                            </a>
                            <a href="https://github.com/Traumzerfetzerin/Yokairyu" target="_blank" rel="noopener">
                                <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                            </a>
                        </div>
                    </div>
                    <div class="flexCenter flexColumn">
                        <div class="technologies flexColumn flexCenter">
                            <h3 class="josefinSansRegular400 colorF8F5EC flexCenter">{{ 'projects.technologies' |
                                translate }}</h3>
                            <div class="techImg flex">
                                <img src="assets/img/skills/html.png" alt="HTML">
                                <img src="assets/img/skills/Javascript.png" alt="JavaScript">
                                <img src="assets/img/skills/css.png" alt="CSS">
                            </div>
                        </div>
                        <div class="flexCenter">
                            <img class="projectImg" src="assets/img/projects/YokairyuGame.png" alt="Yokairyu">
                        </div>
                        <div class="button flexCenter">
                            <a href="https://nadja-petruck.developerakademie.net/Yokairyu/index.html" target="_blank"
                                rel="noopener">
                                <button class="live josefinSansRegular400 color262E34 flexCenter">Live Test</button>
                            </a>
                            <a href="https://github.com/Traumzerfetzerin/Yokairyu" target="_blank" rel="noopener">
                                <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                            </a>
                        </div>
                    </div>
                </div>



            </mat-tab>
            <mat-tab label="3. Join">
                <div class="projectsContent flex">
                    <p class="josefinSansRegular400 colorF8F5EC technologiesText">{{ 'projects.technologies' | translate
                        }}: HTML, JavaScript, CSS,
                        GIT,
                        Firebase</p>
                    <div class="flexColumn projectsDescription">
                        <div class="flexColumn">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint1' | translate }}
                                </h2>
                                <!-- <h3 class="josefinSansRegular400 colorF8F5EC">Duration: 2 months</h3> -->
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab3About' | translate }}</p>
                        </div>
                        <div class="flexColumn howIWorked">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint2' | translate }}
                                </h2>
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab3How' | translate }}</p>
                        </div>
                        <div class="flexColumn whatILearned">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint4' | translate }}
                                </h2>
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">{{ 'projects.tab3What' | translate }}</p>
                        </div>
                        <div class="buttonMobile flexCenter">
                            <a href="https://join-382.developerakademie.net/Join/html/login.html" target="_blank"
                                rel="noopener"><button class="live josefinSansRegular400 color262E34 flexCenter">Live
                                    Test</button></a>
                            <a href="https://github.com/Traumzerfetzerin/Join" target="_blank" rel="noopener">
                                <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                            </a>
                        </div>
                    </div>
                    <div class="flexCenter flexColumn">
                        <div class="technologies flexColumn flexCenter">
                            <h3 class="josefinSansRegular400 colorF8F5EC flexCenter">{{ 'projects.technologies' |
                                translate
                                }}</h3>
                            <div class="techImg flex">
                                <img class="techImg" src="assets/img/skills/html.png" alt="HTML">
                                <img class="techImg" src="assets/img/skills/Javascript.png" alt="JavaScript">
                                <img class="techImg" src="assets/img/skills/css.png" alt="CSS">
                                <img class="techImg" src="assets/img/skills/git.png" alt="git">
                                <img class="techImg" src="assets/img/skills/Firebase.png" alt="Firebase">
                            </div>
                        </div>
                        <div class="flexCenter">
                            <img class="projectImg" src="assets/img/projects/Join.png" alt="Join">
                        </div>
                        <div class="button flexCenter">
                            <a href="https://join-382.developerakademie.net/Join/html/login.html" target="_blank"
                                rel="noopener"><button class="live josefinSansRegular400 color262E34 flexCenter">Live
                                    Test</button></a>
                            <a href="https://github.com/Traumzerfetzerin/Join" target="_blank" rel="noopener">
                                <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                            </a>
                        </div>
                    </div>
                </div>



            </mat-tab>
            <mat-tab label="4. Ongoing Project">
                <div class="projectsContent flex">
                    <p class="josefinSansRegular400 colorF8F5EC technologiesText">Technologies: Angular, TypeScript,
                        HTML, CSS,
                        VUE JS, React</p>
                    <div class="flexColumn projectsDescription">
                        <div class="flexColumn aboutTheProject">
                            <div class="flex">
                                <img class="bulletPoint" src="assets/img/projects/bulletPoint.png" alt="">
                                <h2 class="josefinSansRegular400 colorF8F5EC">{{ 'projects.bulletPoint1' | translate }}
                                </h2>
                            </div>
                            <p class="josefinSansRegular400 colorF8F5EC">What are you currently working on and what
                                features
                                are
                                you
                                implementing? What is the key to success
                                in
                                your projects? You can mention good planning, code quality and execution.</p>
                            <p class="josefinSansRegular400 colorF8F5EC">Show a desire to learn new technologies and
                                continually
                                improve your skills.</p>
                        </div>
                    </div>
                    <div class="flexCenter flexColumn">
                        <div class="technologies flexColumn flexCenter">
                            <h3 class="josefinSansRegular400 colorF8F5EC flexCenter">Technologies</h3>
                            <div class="techImg flex">
                                <img src="assets/img/skills/Angular.png" alt="Angular">
                                <img src="assets/img/skills/TypeScript.png" alt="TypeScript">
                                <img src="assets/img/skills/html.png" alt="HTML">
                                <img src="assets/img/skills/css.png" alt="CSS">
                                <img src="assets/img/skills/Vue Js.png" alt="Vue JS">
                                <img src="assets/img/skills/react.png" alt="React">
                            </div>
                        </div>
                        <div class="flexCenter">
                            <div class="commingSoon flexCenter josefinSansMedium500 color89BCD9">Comming soon...</div>
                        </div>
                        <div class="button flexCenter">
                            <button class="live josefinSansRegular400 color262E34 flexCenter">Live Test</button>
                            <button class="git josefinSansRegular400 color89BCD9 flexCenter">Git Hub</button>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>