h1 {
    width: 332px;
    height: 72px;
    top: 2025px;
    left: 554px;
    font-size: 60px;
    position: relative;
}


.projects {
    // width: 1199px;
    // height: 517px;
    width: 1440px;
    height: 548px;
    top: 2177px;
    left: 123px;
    position: relative;
}


p {
    font-size: 18px;
}


h2 {
    font-size: 28px;
}


h3 {
    font-size: 18px;
}


.bulletPoint {
    width: 29px;
    height: 26px;
    top: 2px;
}

.technologies {
    top: 9px;
    left: 881px;
    padding-right: 2px;
    padding-left: 2px;
    gap: 12px;

    h3 {
        font-size: 18px;
    }

    .techImg {
        // width: 179px;
        height: 36px;
        padding-right: 6px;
        padding-left: 6px;
        gap: 32px;
    }

    img {
        width: 34px;
        height: 36px;
    }
}


.projectImg {
    width: 453.47px;
    height: 312px;
    top: 95px;
    left: 746px;
    border-radius: 30px;
}


.button {
    width: 292px;
    height: 48px;
    top: 441px;
    left: 827px;
    justify-content: space-between;
}


.live,
.git {
    width: 132px;
    height: 48px;
    border-radius: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    gap: 10px;
    border: 1px #89BCD9 solid;
}


a:-webkit-any-link {
    text-decoration: none;
}


.live {
    background-color: #89BCD9;
    font-size: 18px;
}


.git {
    background-color: transparent;
    font-size: 18px;
}


.live:hover {
    background-color: #F8F5EC;
    border: 1px #F8F5EC solid;
}


.git:hover {
    background-color: #262E34;
}


.projectsContent {
    background-color: #394b55;
}


.commingSoon {
    width: 453.47px;
    height: 312px;
    top: 103px;
    left: 746px;
    border-radius: 30px;
    background-color: #F8F5EC;
    font-size: 30px;
}