<app-menu></app-menu>
<div class="flexColumn flexCenter">
    <div class="imprintContainer flex flexColumn">
        <h1 class="AntaRegular400 margin0 color89BCD9">Legal Notice</h1>

        <div class="developerInfo flexColumn">
            <h2 class="margin0 josefinSansBold700 color89BCD9">Imprint</h2>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">Nadja Petruck</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">Schulstraße 13</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">67136 Fußgönheim</li>
            </ul>

            <h3 class="josefinSansRegular400 color89BCD9">Exploring the Board</h3>
            <p class="josefinSansRegular400 margin0 colorF8F5EC">Email: nadjaparadiesvogel&#64;gmail.com</p>
        </div>

        <div class="imprintContent">
            <div>
                <h3 class="josefinSansRegular400 color89BCD9">Purpose & Scope</h3>
                <p class="josefinSansRegular400 margin0 colorF8F5EC">This portfolio is created as a personal web
                    development project. It is intended to showcase my skills in front- and back-end development and is
                    not for commercial use.</p>

                <h3 class="josefinSansRegular400 color89BCD9">Intellectual Property</h3>
                <p class="josefinSansRegular400 margin0 colorF8F5EC">All content, design, and code in this portfolio are
                    my own work. Unauthorized copying, modification, or distribution is prohibited.
                </p>

                <h3 class="josefinSansRegular400 color89BCD9">Use of Portfolio</h3>
                <p class="josefinSansRegular400 margin0 colorF8F5EC">This portfolio is provided for informational
                    purposes only. I am not responsible for any damages or misuse arising from interacting with the
                    portfolio.</p>

                <h3 class="josefinSansRegular400 color89BCD9">Contact</h3>
                <p class="josefinSansRegular400 margin0 colorF8F5EC">For questions or inquiries, please contact me at
                    <a href="mailto:nadjaparadiesvogel@gmail.com">nadjaparadiesvogel&#64;gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</div>