.imprintContainer {
    height: calc(100vh - 350px);

    h1 {
        width: 519px;
        height: 65px;
        gap: 10px;
        font-size: 54px;
    }

    h2 {
        width: 346px;
        height: 29px;
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
        margin: 16px 0 0 0;
    }
}


.imprintContent {
    width: 968px;
}


.developerInfo {
    width: 1032px;
    gap: 16px;
}


a {
    text-decoration: none;
    color: #89BCD9;
}