<app-menu></app-menu>

<div class="burger cursorPointer" (click)="toggleMenu()" #burger>
    <img src="assets/img/burger.png" alt="">
</div>

<div class="navigation flexCenter flexColumn" *ngIf="isVisible" #menu>
    <div class="navigationLinks flexColumn flexCenter">
        <div class="flexColumn links">
            <a (click)="scrollTo('whyMe'); isVisible = false">Why me</a>
            <a (click)="scrollTo('skills'); isVisible = false">Skills</a>
            <a (click)="scrollTo('projects'); isVisible = false">Projects</a>
            <a (click)="scrollTo('contact'); isVisible = false">Contact</a>
        </div>
    </div>
</div>

<div class="flexColumn flexCenter">
    <div class="imprintContainer flex flexColumn">
        <h1 class="AntaRegular400 margin0 color89BCD9">{{ 'imprint.h1' | translate }}</h1>

        <div class="developerInfo flexColumn">
            <h2 class="margin0 josefinSansBold700 color89BCD9">{{ 'imprint.h2' | translate }}</h2>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">Nadja Petruck</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">Schulstraße 13</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">67136 Fußgönheim</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">Email: nadjaparadiesvogel&#64;gmail.com</li>
            </ul>
        </div>

        <div class="imprintContent">
            <div>
                <h3 class="josefinSansRegular400 color89BCD9">{{ 'imprint.1h3' | translate }}</h3>
                <p class="josefinSansRegular400 margin0 colorF8F5EC">{{ 'imprint.1p' | translate }}.</p>

                <h3 class="josefinSansRegular400 color89BCD9">{{ 'imprint.2h3' | translate }}</h3>
                <p class="josefinSansRegular400 margin0 colorF8F5EC">{{ 'imprint.2p' | translate }}
                </p>

                <h3 class="josefinSansRegular400 color89BCD9">{{ 'imprint.3h3' | translate }}</h3>
                <p class="josefinSansRegular400 margin0 colorF8F5EC">{{ 'imprint.3p' | translate }}</p>

                <h3 class="josefinSansRegular400 color89BCD9">{{ 'imprint.4h3' | translate }}</h3>
                <p class="josefinSansRegular400 margin0 colorF8F5EC">{{ 'imprint.4p' | translate }}
                    <a href="mailto:nadjaparadiesvogel@gmail.com">nadjaparadiesvogel&#64;gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</div>