.me {
    width: 860px;
    height: 307px;
    top: 954px;
    left: 290px;
    gap: 80px;

    h1 {
        width: 860px;
        height: 51px;
        font-size: 60px;
    }
}


.meContent {
    width: 860px;
    height: 176px;
}


.location {
    width: 572px;
    height: 65px;
    left: -6px;
    gap: 16px;

    img {
        width: 74.43px;
        height: 63.28px;
        top: 2px;
        left: 0.13px;
    }

    p {
        width: 458px;
        height: 38px;
        top: 15px;
        left: 82.55px;
        font-size: 30px;
    }
}


.motivation {
    width: 379px;
    height: 104px;

    p {
        font-size: 18px;
    }

    button {
        height: 48px;
        border-radius: 30px;
        border: 1px #89BCD9 solid;
        padding-top: 13px;
        padding-right: 30px;
        padding-bottom: 13px;
        padding-left: 30px;
        gap: 10px;
        font-size: 18px;
        background-color: transparent;
    }

    button:hover {
        background-color: #394B55;
    }
}