<div class="flexCenter">
    <div class="me flexColumn">
        <h1 class="AntaRegular400 color89BCD9 flexCenter">Why me</h1>

        <div class="meContent flexCenter flexSpaceBetween">
            <div class="location flex">
                <img src="assets/img/Icon Remote.png" alt="">
                <p class="josefinSansBold700 colorF8F5EC">I am open to work remote..|</p>
            </div>

            <div class="motivation">
                <p class="josefinSansRegular400 colorF8F5EC">I’m passionate about coding because it lets me turn ideas
                    into real solutions. I enjoy tackling complex problems, learning continuously, and building
                    meaningful digital experiences. I’m open to remote work and flexible with location.</p>

                <button (click)="scrollTo('contact')" class="josefinSansRegular400 color89BCD9 cursorPointer">Let's
                    talk</button>
            </div>
        </div>
    </div>
</div>