:host {
    display: flex;
    justify-content: center;
    align-items: center;
}


.me {
    h1 {
        font-size: 60px;
    }
}


.location {
    gap: 16px;

    p {
        width: 458px;
        font-size: 30px;
    }
}


.motivation {
    width: 379px;

    p {
        font-size: 18px;
    }

    button {
        height: 48px;
        border-radius: 30px;
        border: 1px #89BCD9 solid;
        padding-top: 13px;
        padding-right: 30px;
        padding-bottom: 13px;
        padding-left: 30px;
        gap: 10px;
        font-size: 18px;
        background-color: transparent;
    }

    button:hover {
        background-color: #394B55;
    }
}



// MEDIA QUERIES
@media (max-width: 1225px) {
    .meContainer {
        width: 1005px;
    }
}


@media (max-width: 1020px) {
    .meContainer {
        width: 887px;
    }

    .me {
        width: inherit;
    }
}


@media (max-width: 910px) {
    .meContent {
        width: 830px;
        flex-direction: column;
    }

    .me {
        width: auto;
    }
}