:host .gap {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}


// MEDIA QUERIES
@media (max-width: 910px) {
    :host {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    :host .gap {
        width: 650px;
    }
}