.main {
    .gap {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 80px;
        margin-bottom: 80px;
        justify-content: center;
        align-items: center;
    }
}



// MEDIA QUERIES
@media (max-width: 600px) {
    .main app-menu {
        display: none;
    }


    app-police app-imprint app-menu {
        display: block;
    }
}