.review {
    h1 {
        font-size: clamp(22px, 3vw, 32px);
    }
}


.reviewContainer {
    gap: 16px;
}


.individuallyReview {
    position: relative;
    height: clamp(240px, 90vw, 400px);
}


.individuallyReview::before,
.individuallyReview::after {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: opacity 0.4s ease-in-out;
    z-index: 1;
}


.individuallyReview::before {
    background-image: url('/assets/img/shape/reviewShape.png');
    opacity: 1;
}


.individuallyReview::after {
    background-image: url('/assets/img/shape/reviewShapeAcross.png');
    opacity: 0;
}


.individuallyReview:hover::before {
    opacity: 0;
}


.individuallyReview:hover::after {
    opacity: 1;
}


.individuallyReviewContent {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 360px;

    p {
        font-size: 18px;
        white-space: wrap;
    }

    a {
        font-size: 16px;
    }
}



// MEDIA QUERIES
@media (max-width: 1225px) {
    .individuallyReview {
        gap: 16px;
        padding: 0 16px;
        min-width: 360px;
    }

    .reviewContainer {
        width: 97vw;
        overflow-x: scroll;
    }

    .review h2 {
        color: #F8F5EC;
    }
}