body {
    background-color: #262E34;
    max-width: 1440px;
    display: flex;
    margin: auto;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
    display: block;
}


html,
body {
    height: 100%;
    margin: 0;
}



@font-face {
    font-family: 'Josefin Sans';
    src: url('assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Anta';
    src: url('assets/fonts/Anta/Anta-Regular.ttf');
}


.josefinSansLight300 {
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-style: light;
    line-height: 120%;
    letter-spacing: 0%;
}


.josefinSansRegular400 {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-style: regular;
    line-height: 120%;
    letter-spacing: 0%;
}


.josefinSansMedium500 {
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    letter-spacing: 0%;
}


.josefinSansSemiBold600 {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-style: semibold;
    line-height: 120%;
    letter-spacing: 0%;
}


.josefinSansBold700 {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-style: bold;
    line-height: 120%;
    letter-spacing: 0%;
}


.AntaRegular400 {
    font-family: 'Anta';
    font-weight: 400;
    font-style: regular;
    line-height: 120%;
    letter-spacing: 0%;
}


.colorF8F5EC {
    color: #F8F5EC;
}


.color89BCD9 {
    color: #89BCD9;
}


.color262E34 {
    color: #262E34;
}


.margin0 {
    margin: 0;
}


.cursorPointer {
    cursor: pointer;
}


.flex {
    display: flex;
}


.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flexColumn {
    display: flex;
    flex-direction: column;
}


// Project Tab
.mdc-tab__text-label {
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-style: medium;
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 30px;
    color: #89BCD9 !important;
}


.mat-mdc-tab-body-wrapper {
    background-color: #262E34 !important;
}


.mat-mdc-tab.mdc-tab--active {
    background-color: #394B55 !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.mat-mdc-tab .mat-mdc-focus-indicator {
    display: none !important;
}


.mat-mdc-tab .mdc-tab__ripple::before {
    background-color: transparent !important;
}


.mat-mdc-tab.mdc-tab--active .mdc-tab-indicator__content--underline {
    border-color: #394B55 !important;
}


.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #F8F5EC !important;
}


.mat-mdc-tab:not(.mdc-tab--active) {
    border-radius: 0;
    background-color: transparent;
    color: #89BCD9;
}


.mat-mdc-tab {
    width: 248px;
    height: 97px;
    min-width: 248px;
    min-height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 0 0;
    background-color: transparent;
    color: #89BCD9;
    font-size: 20px;
}


.mat-mdc-tab.mdc-tab--active {
    background-color: #394B55;
    color: #F8F5EC !important;
    border-radius: 12px 12px 0 0;
}


.mat-mdc-tab .mdc-tab__text-label {
    line-height: 97px;
}


.mat-mdc-tab:hover {
    background-color: #2f3f48;
}


.mat-mdc-tab.mdc-tab--active {
    border-top-left-radius: 19px !important;
    border-top-right-radius: 19px !important;
    background-color: #394B55 !important;
}


.mat-mdc-tab-ripple--active {
    border-top-left-radius: 19px !important;
    border-top-right-radius: 19px !important;
    background-color: #394B55 !important;
}