* {
    box-sizing: border-box;
}

body {
    background-color: #262E34;
    margin: 0;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
    display: block;
    height: 100%;
}


// FONT
@font-face {
    font-family: 'Josefin Sans';
    src: url('assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}


@font-face {
    font-family: 'Anta';
    src: url('assets/fonts/Anta/Anta-Regular.ttf');
}


.josefinSansLight300 {
    font-family: 'Josefin Sans';
    font-weight: 300;
    line-height: 120%;
}


.josefinSansRegular400 {
    font-family: 'Josefin Sans';
    font-weight: 400;
    line-height: 120%;
}


.josefinSansMedium500 {
    font-family: 'Josefin Sans';
    font-weight: 500;
    line-height: 120%;
}


.josefinSansSemiBold600 {
    font-family: 'Josefin Sans';
    font-weight: 600;
    line-height: 120%;
}


.josefinSansBold700 {
    font-family: 'Josefin Sans';
    font-weight: 700;
    line-height: 120%;
}


.AntaRegular400 {
    font-family: 'Anta';
    font-weight: 400;
    line-height: 120%;
}


// COLOR
.colorF8F5EC {
    color: #F8F5EC;
}


.color89BCD9 {
    color: #89BCD9;
}


.color262E34 {
    color: #262E34;
}


.margin0 {
    margin: 0 !important;
}


.cursorPointer {
    cursor: pointer;
}


// FLEX
.flex {
    display: flex;
}


.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flexColumn {
    display: flex;
    flex-direction: column;
}



// PROJECTS
.mat-mdc-tab-header {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
}


.mat-mdc-tab {
    // width: 100%;
    max-width: 248px;
    height: 97px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 19px 19px 0 0;
    background-color: transparent;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 30px);

    color: #89BCD9;
}


.mat-mdc-tab.mdc-tab--active {
    background-color: #394B55;
    color: #F8F5EC;
    border-radius: 19px 19px 0 0;
}


.mat-mdc-tab:hover {
    background-color: #2f3f48;
}


.mat-mdc-tab .mat-mdc-focus-indicator {
    display: none;
}


// .mat-mdc-tab.mdc-tab--active .mdc-tab-indicator__content--underline {
//     border-color: #394B55 !important;
// }


.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #F8F5EC !important;
}


.mat-mdc-tab .mdc-tab__ripple::before {
    background-color: transparent;
}


.mat-mdc-tab-body-wrapper {
    background-color: #262E34;
}


// .mat-mdc-tab-list {
//     transform: none !important;
// }


.mat-mdc-tab-header {
    overflow: visible;
}



// MEDIA QUERIES
@media (max-width: 645px) {
    .mat-mdc-tab-body-wrapper,
    .mat-mdc-tab-header {
        width: clamp(320px, 90vw, 1440px);
    }
}