<div class="footerWrapper flexCenter">
    <div class="footer flexCenter">
        <div class="footerContent flex">
            <div class="legalInfo flexColumn">
                <a [routerLink]="'/imprint'" class="josefinSansRegular400 margin0 color262E34 cursorPointer">
                    {{ 'imprint.h1' | translate }}
                </a>
                <p class="josefinSansRegular400 margin0 color262E34">© Nadja Petruck 2026</p>
            </div>

            <div class="developerInfo flex flexCenter flexColumn">
                <img src="assets/img/NP-Logo.png" alt="logo">
                <p class="AntaRegular400 margin0 colorF8F5EC">N.Petruck</p>
                <p class="josefinSansLight300 margin0 color262E34">{{ 'hero.developer' | translate }}</p>
            </div>

            <div class="socialMediaIconsDesktop flex">
                <a href="https://github.com/Traumzerfetzerin" target="_blank" rel="noopener">
                    <img class="gitHub" src="assets/img/socialMedia/gitHubDark.png" alt="GitHub">
                </a>
                <a href="mailto:nadjaparadiesvogel@gmail.com">
                    <img class="mail" src="assets/img/socialMedia/mailDark.png" alt="mailDark">
                </a>
                <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener">
                    <img class="linkedIn" src="assets/img/socialMedia/linkedInDark.png" alt="linkedInDark">
                </a>
            </div>

            <div class="socialMediaIconsMobile flex">
                <a href="https://github.com/Traumzerfetzerin" target="_blank" rel="noopener">
                    <img class="gitHub" src="assets/img/socialMedia/gitHubWhite.png" alt="GitHub">
                </a>
                <a href="mailto:nadjaparadiesvogel@gmail.com">
                    <img class="mail" src="assets/img/socialMedia/mailWhite.png" alt="mailWhite">
                </a>
                <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener">
                    <img class="linkedIn" src="assets/img/socialMedia/linkedInWhite.png" alt="linkedInWhite">
                </a>
            </div>
        </div>
    </div>
</div>