.footer {
    max-width: 1440px;
    height: 214px;
    background-color: #89BCD9;
    top: 4326px;
    position: relative;
}


.footerContent {
    max-width: 1216px;
    height: 72px;
    left: 112px;
    gap: 417px;
    position: relative;
}


.legalInfo {
    width: 202px;
    height: 57px;
    gap: 16px;

    a,
    p {
        font-size: 18px;
        text-decoration: none;
    }

    a:hover {
        color: #F8F5EC;
    }
}


.developerInfo {
    width: 58px;
    height: 72px;

    img {
        width: 52px;
        height: 38px;
        left: 3px;
    }

    p {
        font-size: 14px;
    }
}


.socialMediaIcons {
    width: 122px;
    height: 30px;
    gap: 16px;
    align-self: flex-end;

    img {
        width: 30px;
        height: 30px;
        opacity: 60%;
    }
}


.gitHub:hover {
    content: url('/assets/img/socialMedia/gitHubWhite.png');
}


.mail:hover {
    content: url('/assets/img/socialMedia/mailWhite.png');
}


.linkedIn:hover {
    content: url('/assets/img/socialMedia/linkedInWhite.png');
}