:host {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    height: 214px;
    background-color: #89BCD9;
}


.footerContent {
    gap: 417px;
}


.legalInfo {
    gap: 16px;

    a,
    p {
        font-size: 18px;
        text-decoration: none;
    }

    a:hover {
        color: #F8F5EC;
    }
}


.developerInfo {
    img {
        width: 52px;
        height: 38px;
    }

    p {
        font-size: 14px;
    }
}


.socialMediaIcons {
    gap: 16px;
    align-self: flex-end;

    img {
        width: 30px;
        height: 30px;
        opacity: 60%;
    }
}


.gitHub:hover {
    content: url('/assets/img/socialMedia/gitHubWhite.png');
}


.mail:hover {
    content: url('/assets/img/socialMedia/mailWhite.png');
}


.linkedIn:hover {
    content: url('/assets/img/socialMedia/linkedInWhite.png');
}



// MEDIA QUERIES
@media (max-width: 1100px) {
    .footerContent {
        gap: 349px;
    }
}


// @media (max-width: 1020px) {
//     .footerContent {
//         gap: 254px;
//     }
// }


// @media (max-width: 910px) {
//     .footer {
//         width: 831px;
//     }

//     .footerContent {
//         gap: 200px;
//     }
// }

// @media (max-width: 850px) {
//     .footer {
//         width: 652px;
//     }

//     .footerContent {
//         gap: 136px;
//     }
// }