.footer {
    min-width: 1440px;
    height: 214px;
    background-color: #89BCD9;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footerContent {
    width: 1216px;
    height: 72px;
    top: 81px;
    left: 112px;
    gap: 417px;
    display: flex;
}


.legalInfo {
    width: 202px;
    height: 57px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    a,
    p {
        margin: 0;
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-style: regular;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        color: #262E34;
        text-decoration: none;
    }

    a:hover {
        color: #F8F5EC;
        cursor: pointer;
    }
}


.developerInfo {
    width: 58px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 52px;
        height: 38px;
        left: 3px;
    }

    p {
        margin: 0;
        font-family: 'Anta';
        font-weight: 400;
        font-style: regular;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0%;
        color: #F8F5EC;
    }

    span {
        font-family: 'Josefin Sans';
        font-weight: 300;
        font-style: light;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0%;
        color: #262E34;
    }
}


.socialMediaIcons {
    width: 122px;
    height: 30px;
    gap: 16px;
    display: flex;
    align-self: flex-end;

    img {
        width: 30px;
        height: 30px;
        opacity: 60%;
    }
}


.gitHub:hover {
    content: url('/assets/img/socialMedia/gitHubWhite.png');
}


.mail:hover {
    content: url('/assets/img/socialMedia/mailWhite.png');
}


.linkedIn:hover {
    content: url('/assets/img/socialMedia/linkedInWhite.png');
}