:host {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    height: 214px;
    width: 100%;
    background-color: #89BCD9;
}


.footerContent {
    width: 100%;
    justify-content: space-between;
}


.legalInfo {
    gap: 16px;

    a,
    p {
        font-size: 18px;
        text-decoration: none;
    }

    a:hover {
        color: #F8F5EC;
    }
}


.developerInfo {
    img {
        width: 52px;
        height: 38px;
    }

    p {
        font-size: 14px;
    }
}


.socialMediaIcons {
    gap: 16px;
    align-self: flex-end;

    img {
        width: 30px;
        height: 30px;
        opacity: 60%;
    }
}


.gitHub:hover {
    content: url('/assets/img/socialMedia/gitHubWhite.png');
}


.mail:hover {
    content: url('/assets/img/socialMedia/mailWhite.png');
}


.linkedIn:hover {
    content: url('/assets/img/socialMedia/linkedInWhite.png');
}



// MEDIA QUERIES
@media (max-width: 600px) {
    .developerInfo {
        order: 1;
    }

    .socialMediaIcons {
        order: 2;
        align-self: center;
    }

    .legalInfo {
        order: 3;
        flex-direction: row;
    }

    .footerContent {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}