<div class="footer">
    <div class="footerContent">
        <div class="legalInfo">
            <a href="#legalNotice">Legal Notice</a>
            <p>© Nadja Petruck 2026</p>
        </div>

        <div class="developerInfo">
            <img src="../assets/img/logo.png" alt="logo">
            <p>N.Petruck</p>
            <span>developer</span>
        </div>

        <div class="socialMediaIcons">
            <img class="gitHub" src="../assets/img/socialMedia/gitHubDark.png" alt="gitHubDark">
            <img class="mail" src="../assets/img/socialMedia/mailDark.png" alt="mailDark">
            <img class="linkedIn" src="../assets/img/socialMedia/linkedInDark.png" alt="linkedInDark">
        </div>
    </div>
</div>