.footer {
    max-width: 1440px;
    height: 214px;
    background-color: #89BCD9;
}


.footerContent {
    max-width: 1216px;
    height: 72px;
    gap: 417px;
}


.legalInfo {
    width: 202px;
    height: 57px;
    gap: 16px;

    a,
    p {
        font-size: 18px;
        text-decoration: none;
    }

    a:hover {
        color: #F8F5EC;
    }
}


.developerInfo {
    width: 58px;
    height: 72px;

    img {
        width: 52px;
        height: 38px;
        left: 3px;
    }

    p {
        font-size: 14px;
    }
}


.socialMediaIcons {
    width: 122px;
    height: 30px;
    gap: 16px;
    align-self: flex-end;

    img {
        width: 30px;
        height: 30px;
        opacity: 60%;
    }
}


.gitHub:hover {
    content: url('/assets/img/socialMedia/gitHubWhite.png');
}


.mail:hover {
    content: url('/assets/img/socialMedia/mailWhite.png');
}


.linkedIn:hover {
    content: url('/assets/img/socialMedia/linkedInWhite.png');
}



// MEDIA QUERIES
@media (max-width: 1455px) {
    .footer {
        width: 1145px;
    }


    .footerContent {
        width: 100%;
        justify-content: space-around;
    }
}


@media (max-width: 1160px) {
    .footer {
        width: 1035px;
    }


    .footerContent {
        gap: 310px;
    }
}


@media (max-width: 1050px) {
    .footer {
        width: 900px;
    }


    .footerContent {
        gap: 210px;
    }
}


@media (max-width: 920px) {
    .footer {
        width: 750px;
    }


    .footerContent {
        gap: 150px;
    }
}