    <app-menu></app-menu>
    <div class="padding flexColumn flexCenter">
        <div class="police flex flexColumn">
            <h1 class="AntaRegular400 color89BCD9">{{ 'policy.h1' | translate }}</h1>

            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.p' | translate }}</p>

            <h2 class="josefinSansBold700 color89BCD9">{{ 'policy.1' | translate }}</h2>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.1p' | translate }}</p>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">{{ 'policy.1p1' | translate }}</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">{{ 'policy.1p2' | translate }}</li>
            </ul>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.1p3' | translate }}</p>

            <h2 class="josefinSansBold700 color89BCD9">{{ 'policy.2' | translate }}</h2>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.2p' | translate }}</p>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">{{ 'policy.2p1' | translate }}</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">{{ 'policy.2p2' | translate }}</li>
            </ul>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.2p3' | translate }}</p>

            <h2 class="josefinSansBold700 color89BCD9">{{ 'policy.3' | translate }}</h2>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.3p' | translate }}</p>

            <h2 class="josefinSansBold700 color89BCD9">{{ 'policy.4' | translate }}</h2>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.4p' | translate }}</p>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">{{ 'policy.4p1' | translate }}</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">{{ 'policy.4p2' | translate }}</li>
            </ul>
            <ul class="margin0">
                <li class="josefinSansRegular400 colorF8F5EC">{{ 'policy.4p3' | translate }}</li>
            </ul>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.4p4' | translate }}</p>

            <h2 class="josefinSansBold700 color89BCD9">{{ 'policy.5' | translate }}</h2>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.5p' | translate }}</p>

            <h2 class="josefinSansBold700 color89BCD9">{{ 'policy.6' | translate }}</h2>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.6p' | translate }}</p>

            <h2 class="josefinSansBold700 color89BCD9">{{ 'policy.7' | translate }}</h2>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.name' | translate }}: Nadja Petruck</p>
            <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.address' | translate }}: Schulstraße 13,
                67136
                Fußgönheim</p>
            <a href="mailto:nadjaparadiesvogel@gmail.com">
                <p class="josefinSansRegular400 colorF8F5EC margin0">{{ 'policy.email' | translate }}:
                    nadjaparadiesvogel&#64;gmail.com</p>
            </a>
        </div>
    </div>