<app-menu></app-menu>
<div class="padding flexColumn flexCenter">
    <div class="police flex flexColumn">
        <h1 class="AntaRegular400 color89BCD9">Privacy Policy</h1>

        <p class="josefinSansRegular400 colorF8F5EC margin0">I respects your privacy and is committed to protecting your
            personal data. This Privacy Policy explains how I
            handle information you provide when visiting my portfolio website.</p>

        <h2 class="josefinSansBold700 color89BCD9">1. Information I Collect</h2>
        <p class="josefinSansRegular400 colorF8F5EC margin0">I may collect personal information you voluntarily provide,
            such as:</p>
        <ul class="margin0">
            <li class="josefinSansRegular400 colorF8F5EC">Name and email address (e.g., via contact form)</li>
        </ul>
        <ul class="margin0">
            <li class="josefinSansRegular400 colorF8F5EC">Information about your device and browser (IP address, browser
                type)</li>
        </ul>
        <p class="josefinSansRegular400 colorF8F5EC margin0">No other personal data is collected automatically.</p>

        <h2 class="josefinSansBold700 color89BCD9">2. How I Use Your Information</h2>
        <p class="josefinSansRegular400 colorF8F5EC margin0">Your data is used only to:</p>
        <ul class="margin0">
            <li class="josefinSansRegular400 colorF8F5EC">Respond to your messages or inquiries</li>
        </ul>
        <ul class="margin0">
            <li class="josefinSansRegular400 colorF8F5EC">Improve my website and portfolio</li>
        </ul>
        <p class="josefinSansRegular400 colorF8F5EC margin0">I do not sell or share your data with third parties for
            marketing purposes.</p>

        <h2 class="josefinSansBold700 color89BCD9">3. Cookies</h2>
        <p class="josefinSansRegular400 colorF8F5EC margin0">My website uses minimal cookies for site functionality. You
            can
            manage or disable cookies in your browser
            settings.</p>

        <h2 class="josefinSansBold700 color89BCD9">4. Your Rights</h2>
        <p class="josefinSansRegular400 colorF8F5EC margin0">You have the right to:</p>
        <ul class="margin0">
            <li class="josefinSansRegular400 colorF8F5EC">Request access to the personal data I hold about you</li>
        </ul>
        <ul class="margin0">
            <li class="josefinSansRegular400 colorF8F5EC">Ask for corrections or deletion</li>
        </ul>
        <ul class="margin0">
            <li class="josefinSansRegular400 colorF8F5EC">Withdraw your consent at any time</li>
        </ul>
        <p class="josefinSansRegular400 colorF8F5EC margin0">To exercise these rights, contact me at:
            nadjaparadiesvogel(at)gmail.com</p>

        <h2 class="josefinSansBold700 color89BCD9">5. Data Security</h2>
        <p class="josefinSansRegular400 colorF8F5EC margin0">I take appropriate measures to protect your data from
            unauthorized access or loss.</p>

        <h2 class="josefinSansBold700 color89BCD9">6. Changes</h2>
        <p class="josefinSansRegular400 colorF8F5EC margin0">This Privacy Policy may be updated from time to time. The
            latest version will always be available on this page.
        </p>

        <h2 class="josefinSansBold700 color89BCD9">7. Contact</h2>
        <p class="josefinSansRegular400 colorF8F5EC margin0">Name: Nadja Petruck</p>
        <p class="josefinSansRegular400 colorF8F5EC margin0">Adress: Schulstraße 13, 67136 Fußgönheim</p>
        <a href="mailto:nadjaparadiesvogel@gmail.com">
            <p class="josefinSansRegular400 colorF8F5EC margin0">Email: nadjaparadiesvogel&#64;gmail.com</p>
        </a>
    </div>
</div>