    h1 {
        width: 519px;
        height: 65px;
        gap: 10px;
        font-size: 54px;
    }


    h2 {
        width: 346px;
        height: 29px;
        font-size: 24px;
    }


    a {
        text-decoration: none;
    }


    .padding {
        padding-top: 16px;
        padding-bottom: 16px;
    }