.police {
    height: 1357px;
    top: 169px;
    padding-left: 200px;

    h1 {
        width: 519px;
        height: 65px;
        gap: 10px;
        font-size: 54px;
    }

    h2 {
        width: 346px;
        height: 29px;
        font-size: 24px;
    }
}